:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  --grey: hsl(206, 3%, 53%);
  --shadow-blue: 0 2rem 6rem var(--bright-blue);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
  --color-btn-hover: rgba(118, 108, 241, 1);
  --color-btn-cancel: rgb(106, 116, 141, 1);
  --line: 1px solid var(--color-grey-light-2); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 23.4375em) {
    html {
      font-size: 47%; } }

body {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6;
  background-color: var(--pale-blue);
  background-image: url(../img/pattern-background-desktop.svg);
  background-repeat: repeat-x;
  color: var(--grey); }

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; }

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45rem;
  height: 69.7rem;
  overflow: hidden;
  border-radius: 2rem;
  background-color: white;
  box-shadow: 0 3rem 3rem #7e75db29; }
  @media only screen and (max-width: 23.4375em) {
    .card {
      width: 100%;
      height: auto;
      padding-bottom: 2rem; } }
  .card__image {
    width: 100%;
    height: auto; }
  .card__title {
    color: var(--dark-blue);
    margin: 4.2rem 0 0 0;
    padding: 0;
    font-size: 2.8rem;
    font-weight: 900; }
    @media only screen and (max-width: 23.4375em) {
      .card__title {
        margin: 3.9rem 0 0 0; } }
  .card__description {
    display: inline-block;
    width: 35.4rem;
    text-align: center;
    margin-top: 1.2rem;
    font-weight: 500; }
    @media only screen and (max-width: 23.4375em) {
      .card__description {
        width: 31rem;
        font-size: 2rem;
        margin-top: 1.8rem; } }
  .card__box {
    align-self: stretch;
    display: flex;
    align-items: center;
    margin: 2.3rem 4.8rem 3.2rem 4.8rem;
    padding: 2.4rem;
    background-color: var(--very-pale-blue);
    border-radius: 1.4rem; }
    @media only screen and (max-width: 23.4375em) {
      .card__box {
        margin: 4.3rem 3.2rem 3.7rem 3.2rem;
        padding: 1.6rem 2.2rem 1.6rem 2.2rem; } }
    .card__box__details {
      margin-right: auto;
      margin-left: 2rem; }
      @media only screen and (max-width: 23.4375em) {
        .card__box__details {
          font-size: 1.8rem;
          margin-left: 2.8rem; } }
      .card__box__details__product-name {
        color: var(--dark-blue);
        font-size: 1.7rem;
        margin: -0.4rem 0 0 0;
        padding: 0;
        word-spacing: -0.2rem; }
    .card__box__btn {
      display: inline-block;
      border: none;
      font-size: 1.4rem;
      font-weight: 500;
      background-color: transparent;
      cursor: pointer;
      text-decoration: underline;
      color: var(--bright-blue);
      margin: -0.4rem .1rem 0 0;
      transition: all .2s; }
      @media only screen and (max-width: 23.4375em) {
        .card__box__btn {
          font-size: 1.8rem; } }
      .card__box__btn:hover {
        text-decoration: none;
        filter: brightness(0.6); }
  .card__btn-payment {
    align-self: stretch;
    height: 5rem;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 1.4rem;
    background-color: var(--bright-blue);
    border: none;
    margin: 0rem 4.8rem 3rem 4.8rem;
    box-shadow: 0 2rem 2rem #3829e02e;
    transition: all .2s; }
    @media only screen and (max-width: 23.4375em) {
      .card__btn-payment {
        height: auto;
        font-size: 2rem;
        margin: 0rem 3.2rem 3rem 3.2rem;
        padding: 2rem 0; } }
    .card__btn-payment:hover {
      background-color: var(--color-btn-hover); }
  .card__btn-cancel {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-btn-cancel);
    word-spacing: 0.1rem;
    transition: all .2s;
    text-decoration: none; }
    @media only screen and (max-width: 23.4375em) {
      .card__btn-cancel {
        font-size: 2rem;
        margin-bottom: 2rem; } }
    .card__btn-cancel:hover {
      filter: brightness(0.6); }
